altair
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
Babel
backcall
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
defusedxml
executing
fastjsonschema
Flask
Flask-Cors
fonttools
fqdn
gitdb
GitPython
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
nltk
notebook
notebook_shim
numpy
overrides
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
platformdirs
prometheus-client
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pycparser
pydeck
Pygments
Pympler
pyparsing
pyrsistent
python-dateutil
python-json-logger
pytz
pytz-deprecation-shim
PyYAML
pyzmq
qtconsole
QtPy
regex
requests
rfc3339-validator
rfc3986-validator
rich
scikit-learn
scipy
seaborn
Send2Trash
six
sklearn
smmap
sniffio
soupsieve
stack-data
streamlit
tenacity
terminado
threadpoolctl
tinycss2
toml
toolz
tornado
tqdm
traitlets
typing_extensions
tzdata
tzlocal
uri-template
urllib3
validators
watchdog
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
widgetsnbextension
wordcloud
xgboost
zipp
